<div class="movie-details">
    <h3>Details</h3>
    <div class="details">
        <div class="media">
            <img src="{{movie?.imageUrl}}" alt="{{movie?.title}}">
        </div>
        <div class="info">
            <h4>{{movie?.title}}</h4>
            <h5>{{movie?.director}} <span>{{movie?.year}}</span></h5>
            <p>{{movie?.genre}}</p>
            <p>{{movie?.plot}}</p>
            <div class="buttons">
                <a routerLink="/movie-edit/{{movie?._id}}">Edit</a>
                <button (click)="deleteHandler()">Delete</button>
            </div>
        </div>
    </div>

    <div class="comments">
        
        <app-comment/>

        <h4>Comments</h4>
        <div class="comment-list">
            <ul>
                <li class="comment">
                    <div class="comment-author">
                        <h5>From: Boris</h5>
                        <p>Posted on: 07.07.2023 17:35</p>
                    </div>
                    <p>I like this movie</p>
                </li>
                <li class="comment">
                    <div class="comment-author">
                        <h5>From: Boris</h5>
                        <p>Posted on: 07.07.2023 17:35</p>
                    </div>
                    <p>I like this movie I like this movie I like this movie I like this movie</p>
                </li>
                <li class="comment">
                    <div class="comment-author">
                        <h5>From: Boris</h5>
                        <p>Posted on: 07.07.2023 17:35</p>
                    </div>
                    <p>I like this movie</p>
                </li>
                <li class="comment">
                    <div class="comment-author">
                        <h5>From: Boris</h5>
                        <p>Posted on: 07.07.2023 17:35</p>
                    </div>
                    <p>I like this movie</p>
                </li>
                <li class="comment">
                    <div class="comment-author">
                        <h5>From: Boris</h5>
                        <p>Posted on: 07.07.2023 17:35</p>
                    </div>
                    <p>I like this movie I like this movie I like this movie I like this movie</p>
                </li>
                <li class="comment">
                    <div class="comment-author">
                        <h5>From: Boris</h5>
                        <p>Posted on: 07.07.2023 17:35</p>
                    </div>
                    <p>I like this movie</p>
                </li>
                <li class="comment">
                    <div class="comment-author">
                        <h5>From: Boris</h5>
                        <p>Posted on: 07.07.2023 17:35</p>
                    </div>
                    <p>I like this movie</p>
                </li>
                <li class="comment">
                    <div class="comment-author">
                        <h5>From: Boris</h5>
                        <p>Posted on: 07.07.2023 17:35</p>
                    </div>
                    <p>I like this movie I like this movie I like this movie I like this movie</p>
                </li>
                <li class="comment">
                    <div class="comment-author">
                        <h5>From: Boris</h5>
                        <p>Posted on: 07.07.2023 17:35</p>
                    </div>
                    <p>I like this movie</p>
                </li>
            </ul>
        </div>
    </div>
</div>
